@import '../../App.Assets/assets/variables.scss';

.courses {
  padding-top: calc($spacing-xl * 3);
  box-sizing: border-box;

  .course {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: $spacing-xl;
    padding: $spacing-lg;
    border-radius: $border-r7;
    cursor: pointer;
    color: $white;
    text-decoration: none;

    &:hover {
      background-color: rgba(153, 154, 155, 0.07);

      .course-info {
        .course-name {
          color: $purple;
        }
      }
    }

    .course-dates {
      color: $grey;
    }

    .course-info {
      color: $grey;

      .course-name {
        margin: 0;
        margin-bottom: $spacing-sm;
        color: $white;
        display: grid;
        grid-template-columns: 1fr 16px;
        align-items: center;
      }

      .course-langs {
        display: flex;
        flex-wrap: wrap;

        .course-lang {
          padding: $spacing-md;
          border-radius: $border-r7;
          background-color: $dark;
          margin: $spacing-sm;
          box-sizing: border-box;
        }
      }
    }
  }
}
