@import '../../App.Assets/assets/variables.scss';

.navigation {
  height: 100%;

  .navigation-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;

    .navigation-link {
      font-weight: bold;
      margin: $spacing-md $spacing-lg;
      font-size: 1.1rem;

      a {
        color: $grey;
        text-decoration: none;
        width: 100%;

        &:hover {
          color: $purple;
        }

        i {
          transform: rotate(-45deg);
        }
      }
    }
  }
}