@import '../../App.Assets/assets/variables.scss';

.navigation {
  height: 100%;

  .navigation-links {
    list-style-type: none;
    padding: 0;

    .navigation-link {
      font-weight: bold;
      padding: $spacing-md 0;
      width: 90px;

      a {
        color: $grey;
        text-decoration: none;
        display: grid;
        grid-template-columns: 1fr 16px;
        width: 100%;

        &:hover {
          color: $purple;
        }

        i {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
