@import '../../App.Assets/assets/variables.scss';

.navigation {
  .navigation-links {
    list-style-type: none;
    padding: 0;

    .navigation-link {
      font-weight: bold;
      padding: $spacing-md 0;

      a {
        color: $grey;
        text-decoration: none;
      }
    }
  }
}
