@import '../../App.Assets/assets/styles.scss';

.socials {
  justify-self: flex-end;
  padding-bottom: calc($spacing-xl * 3);

  .socials-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;

    .socials-link {
      font-size: 2rem;
      padding: $spacing-md;

      a {
        color: $grey;

        &:hover {
          color: $purple;
        }
      }
    }
  }
}