@import '../../App.Assets/assets/variables.scss';

.intro {
  padding-top: calc($spacing-xl * 3);

  .intro-fullname {
    margin: $spacing-sm 0;
    font-size: 2.7rem;
    color: $white;
  }

  .intro-role {
    margin: $spacing-sm 0;
    font-size: 1.5rem;
    color: $white;
  }

  .intro-text {
    max-width: 20rem;
  }
}
