// COLORS
$white: #ffffff;
$black: #000000;
$dark: #1c1f23;
$grey: #999a9b;
$purple: #6f4ac9;
$light-purple: #f1f0fb;
$pink: #ba75b6;
$dark-blue-one: #0e172b;
$dark-blue-two: #0f172a;

// FONT SIZES
$f-32: 32px;
$f-30: 30px;
$f-24: 24px;
$f-20: 20px;
$f-18: 18px;
$f-16: 16px;
$f-14: 14px;
$f-12: 12px;
$f-10: 10px;

// SPACING
$spacing-xs: 2px;
$spacing-sm: 4px;
$spacing-md: 8px;
$spacing-lg: 16px;
$spacing-xl: 32px;
$max-width: 1100px;

// STYLING
$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$border-r7: 7px;
$border-r10: 10px;